body {
    background: #eee;
}

.content {
    display: flex;
    padding-bottom: 2rem;
}

.dashboard {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 24rem;
    
    background-color: #154782;
    
    height: 100vh;

    &__profile {
        display: flex;
        align-items: center;
        padding: 1.5rem 0rem;
        border-bottom: 1px solid  #eee;
        justify-content: center;

        &--icon {
            height: 4rem;
            width: 4rem;
            fill: #fff;
        }
    }

    &__nav {

       
        width: 18rem;
        margin: 2rem auto;
        
        &--item {
            display: flex;
            align-items: center;
            margin: 1.5rem 0;
           
        }

        &--link {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 1.5rem;
            color: #fff;

           
        }

        &--icon {
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 1rem;
            fill: #fff;
        }
    }

    &__copy {
        text-align: center;
        margin-top: auto;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        color: #fff;
        font-weight: 400;
    }
}

.events {
    
    display: flex;
    flex-direction: column;

    background-color: #eee;
    height: auto;
    margin-top: 2rem;
    margin-left: 24rem;
    // margin-left: 26rem;
   

    &__flex {
        display: flex;
        align-items: center;
    }

    &__item {
        height: 15rem;
        width: 26rem;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);

        &--head {
            padding: .9rem;
            color: #fff;
        }

        &--body {
            padding: .9rem;
            font-size: 1.4rem;
        }

        &--btn {
            padding: .5rem 1rem;
            margin-top: 1rem;
            text-decoration: none;
            border-radius: 5px;
            color: #fff;
            float: right;
        }
    }

    &__green {
        background-color: #28b485;
    }

    &__blue {
        background-color: $primary-color;
    }

    &__gray {
        background-color: #ddd;
    }
}

.create-event {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    padding: 1rem 1.5rem;
    border-radius: 10px;

    &__btn {
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 1.6rem;
        color: #fff;

        &--icon {
            height: 2rem;
            width: 2rem;
            margin-left: .7rem;
            fill: #fff;
            cursor: pointer;
        }
    }
}

.upcoming {
    margin-top: 1rem;
}

.feed {

    &__container {
        padding: 1rem 2rem;

        p {
            font-size: 1.5rem;
        }
    }

    &__text {
        display: flex;
        align-items: center;

        p {
            margin-left: 1rem;
        }

        span {
            font-size: 1.5rem;
            margin-left: auto;
            margin-right: 15rem;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #fff;
        border-radius: 5px;
        padding:  1.2rem;
        margin: 1rem auto;
        box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    }

    &__select {
        padding: .2rem 1rem;
        border-radius: 5px;
        outline: none;
    }
    
}

// EVENT DASHBOARD
// //////////////////////////

.event {
    
    display: flex;
    flex-direction: column;
    
    
   
    background-color: #eee;
    height: 100vh;
    margin-left: 24rem;
    

    &__container {
        display: flex;
        flex-direction: column;
        margin: 15rem 5rem;
    }

    &__body {
        display: grid;
        grid-template-columns: auto auto; 
    }


    &__header {
        background: #fff;
        padding: .5rem 2rem;
        position: fixed;
        width: 100%;
        z-index: 3000;
    }

    &__flex {
        display: flex;
        align-items: center;
    }

    &__form {
        margin: 2rem 3rem;

        &--input {
            padding: .5rem .2rem;
            outline: none;
            border: none;
            width: 25rem;

            &::placeholder {
                color: #154782;
                font-size: 2rem;
            }
        }

        &--btn {
            background-color: #00CF15;
            padding: .5rem 1rem;
            border: none;
            border-radius: 15px;
            color: #fff;
            outline: none;
            cursor: pointer;
        }

        input[type="text"] {
            font-size: 2rem;
            color: #154782;
        }

        p {
            font-size: 1.4rem;
            margin-right: 1rem;
        }

        &--date {
            background: #eee;
            border: none;
            padding: .4rem .7rem;
            border-radius: 5px;
            margin-right: .5rem;
        }
    }

    &__edit {
        cursor: pointer;
        border: none;
        background: none;
        outline: none;

        &--icon {
            width: 1.7rem;
            height: 1.7rem;
        }
    }

    .event__name {
        font-size: 2rem;
        color: #154782;
    }

    &__active {
        border-bottom: 1.5px solid #00CF15;
    }

    &__nav {
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            font-size: 1.5rem;
        }

        li {
            margin: 0rem 1rem;
        }

        a {
            text-decoration: none;
            color: #333;
            display: flex;
            align-items: center;
        }

        &--icon {
            height: 2rem;
            width: 2rem;
            margin-right: .5rem;
        }
    }

    &__about {
        width: 57rem;
        padding: 0.5rem 1rem;
        // background-color: red;

        h2 {
            margin-left: 1rem;
            color: #154782;
        }

        textarea {
            width: 100%;
            padding: 1rem;
            font-size: 1.7rem;
            color: #154782;
            border-radius: 5px;
            border: none;
            outline: none;
        }
    }

    &__budget {
        padding: 0.5rem 1rem;
        width: 35rem;
       
        &--body {
            background-color: #fff;
            padding: 1rem;
            border-radius: 5px;
            height: auto;
            border: 2px solid #154782;
        }

        &--total {
            display: flex;
            align-items: center;
            font-size: 1.6rem;
            width: 100%;
            color: #154782;
            
            p {
                margin-right: auto;
            }
        }

        h2 {
            margin-left: 1rem;
            color: #154782;
        }
    }

    &__providers {
        padding: 0.5rem 1rem;
        width: 57rem;

        h2 {
            margin-left: 1rem;
            color: #154782;
        }

        &--body {
            background-color: #fff;
            padding: 1rem;
            border-radius: 5px;
            height: auto;
            border: 2px solid #154782;
        }

        &--item {
            display: flex;
            align-items: center;
            color: #154782;
            font-size: 1.5rem;
        }

        &--icon {
            height: 2rem;
            width: 2rem;
            margin-right: 1rem;
            fill: #55c57a;
        }
    }

    &__people {
        padding: 0.5rem 1rem;
        width: 35rem;

        h2 {
            margin-left: 1rem;
            color: #154782;
        }

        &--body {
            background-color: #fff;
            padding: 1rem;
            border-radius: 5px;
            height: auto;
            border: 2px solid #154782;
            display: flex;
        }

        &--count {
            flex: 0 0 40%;
            flex-direction: column;
        }

        &--item {
            display: flex;
            align-items: center;
            font-size: 1.5rem;

            p {
                margin-right: auto;
                
            }
        }
    }

    &__registred {
       
        width: 80rem;
        margin: 5rem auto;

        &--item {
            display: flex;
            padding: .5rem;
            font-size: 1.4rem;
            background: #fff;
            box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
            border-radius: 5px;
            margin-bottom: 1rem;
        }

        &--month {
            flex: 0 0 7%;
            text-align: center;
            
        }

        &--memb {
            flex: 1;
            text-align: center;
        }
    }

}

.coming {
    color: #154782;
}

.declined {
    color: #FF4136;
}

.unknown {
    color: #ddd;
}

.admins {
    color: #333;
}


// TASKS
.tasks {
    margin-top: 12rem;
    
    
    width: 100%;

    &__list {
        margin: 5rem auto;
        
        width: 80%;
    }


    &__link {
        cursor: pointer;
    }

    &__item {
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 5px;
        padding: 0rem 1rem;
        margin-bottom: 1rem;
       
        height: auto;


        p {
            width: 50%;
            font-size: 1.5rem;
            padding: .5rem;
            margin-right: auto;
        }

        input {
            margin: 0rem 1rem;
        }
    }

    &__owner {
        padding: .5rem 1rem;
        background: #ddd;
        border-radius: 50%;
        
        span {
            font-size: 1.4rem;
        }
    }

    &__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem 1rem;
        border: 100%;
        
        span {
            font-size: 1.2rem;
        }
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
    }

    &__inputdate {
        width: 13rem;
    }

    &__status {
        background: $primary-color;
        color: #fff;
        padding: .5rem 1.5rem;
        border-radius: 20px;

        &--2 {
            height: 3rem;
            width: 6rem;
            background-color: #ddd;
            border-radius: 20px;
            
        }
    }

    &__date {
        padding: .4rem;
        font-size: 1.5rem;
    }

    &__red {
        height: 2.5rem;
        width: 2.5rem;
        background-color: red;
        border-radius: 50px;
        margin: .2rem;
    }

    &__grey {
        height: 2.5rem;
        width: 2.5rem;
        background-color: #ddd;
        border-radius: 50px;
        margin: .2rem;
    }

    &__button {
        margin-top: .8rem;
        border: none;
        background-color: #fff;
        cursor: pointer;
        &--icon {
            height: 2.5rem;
            width: 2.5rem;
        }
    }

    
    &__count {
        margin-left: 2.8rem;
        margin-top: 1.5rem;
        position: absolute;
        border-radius: 30px;
        padding: 0rem .3rem;
        background: #00CF15;
        color: #fff;
        opacity: .95;
    }
    

    &__add {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        text-decoration: none;
        color: #55c57a;

        &--icon {
            height: 1.8rem;
            width: 1.8rem;
            margin-right: .5rem;
            fill: #55c57a;
        }
    }

    &__hidden {
        display: none;
    }

    &__comm {
        position: fixed;
        height: 100vh;
        right: 0;
        z-index: 9999;
        width: 50rem;
        // background: #154782;
        &--shadow {
            box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
        }
        

        a {
            cursor: pointer;
        }
    }

    &__btn-close {
        font-size: 2rem;
        text-decoration: none;
       
        color: #fff;
        margin-left: auto;

        &--icon {
            width: 1.7rem;
            height: 1.7rem;
            fill: #fff;
        }
    }

    &__head {
        display: flex;
        align-items: center;
        color: #fff;
        padding: 1rem 0.8rem;
        background: #154782;
        

        h2 {
            display: flex;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        width: 50rem;
        height: 60vh;
        // margin-right: .2rem;
        background: #fff;
        overflow: hidden;

        &--count {
            display: flex;
            align-items: center;
            
            h2 {
               color: #333;
               margin-left: 1rem;
               margin-right: .3rem;
            }

            span {
                font-size: 1.4rem;
                color: #333;
            }

            margin-bottom: auto;
        }

        &--area {
            display: flex;
            flex-direction: column;
            margin-top: auto;
            margin: 0rem auto;
            width: 48rem;
            height: 100%;
            overflow: auto;

            p {
                
                background-color: #eee;
                padding: 1rem;
                border-radius: 5px;
                margin: .5rem 0rem;
                font-size: 1.3rem;
            }
        }

    }

    &__send {
        text-align: center;
        
        

        textarea {
            
            background: whitesmoke;
            width: 100%;
            font-family: "Lato", sans-serif;
            height: 15rem;
            padding: 1rem;
            outline: none;
            margin: 0;
        }

        button {
            cursor: pointer;
            background: #154782;
            margin-top: -.7rem;
            font-family: "Lato", sans-serif;
            font-size: 1.5rem;
            outline: none;
            color: #fff;
            padding: 1rem;
            border-radius: 5px;
            width: 100%;
        }
    }
}

// .tasks__content--area::-webkit-scrollbar {
//     width: 10px;
// }

// .tasks__content::-webkit-scrollbar-track {
//     background: red; 
// }

// NOTES
.note {
    background: #eee;

    &__add {
        margin-top: 15rem;
        margin-left: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #00CF15;
        width: 12rem;
        padding: .5rem;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.5rem;
        cursor: pointer;
    }

    &__body {
        display: grid;
        grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8,
        [col-start] minmax(min-content, 20rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    }

    &__list {
        grid-column: center-start / center-end;
        margin: 2rem 0;
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40rem, 48rem));
        grid-gap: 4rem;

    }

    &__item {
        width: 45rem;
        height: auto;
        font-size: 1.5rem;
        background-color: #FFFD75;
        padding: 1.5rem;
        border-radius: 2px;

        display: flex;
        flex-direction: column;

        &--link {
            display: flex;
            justify-content: flex-end;
            float: right;
            text-decoration: none;
            color: #333;
            margin-top: auto;

            &:hover {
                color: #154782; 
            }
        }
    }

    &__modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);

        &--content {
            margin: 10% auto;
            width: 45rem;
            height: auto;
            background-color: #FFFD75;
            padding: 1.5rem;
            border-radius: 2px;
        }

        &--header {
            display: flex;
            align-items: center;

            input[type="text"] {
                font-size: 1.7rem;
                color: #333;
                background: #FFFD75;
                border: none;
                width: 100%;
                outline: none;
            }
        }

        &--body {

            textarea {
                width: 100%;
                padding: .5rem;
                background-color: #FFFD75;
                border: none;
                outline: none;
                font-size: 1.7rem;
            }
        }

        &--save {
            margin-left: 35rem;
            margin-top: 1rem;
            background: #FFFD75;
            color: #333;
            border: 1px solid #333;
            border-radius: 10px;
            padding: .5rem 1rem;
            outline: none;
            cursor: pointer;
        }
    }

    &__close {
        margin-left: auto;
        font-size: 3rem;
        color: #333;
        cursor: pointer;
    }

}

// People 

.people {
    margin-top: 12rem;
    margin-left: 2rem;
    margin-right: 2rem;

    &__body {
        display: grid;
        grid-template-columns: [full-start] minmax(3rem, 1fr) [center-start] repeat(8,
        [col-start] minmax(min-content, 20rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
    }

    &__list {
        grid-column: center-start / center-end;
        margin: 4rem 0;
    
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 30rem));
        grid-gap: 4rem;

    }

    &__item {
        margin-top: .8rem;
        width: 25rem;
        // background-color: red;

        &--head {
            input[type="text"] {
                display: flex;
                align-items: center;
                margin: 1rem auto;
                width: 15rem;
                padding: 0rem 1.5rem;
                padding-top: 1rem;
                background: #eee;
                border: none;
                border-bottom: 2px solid #154782;
                color: #154782;
                font-size: 1.5rem;
                outline: none;
                width: 19rem;
            }
        }

        &--body {
            width: 100%;
            background: #fff;
            box-shadow: 0 -1px 0 #e5e5e5,0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
        }

        &--btn {
            margin-top: .5rem;
            margin-left: 1rem;
            background-color: #fff;
            border: none;
            cursor: pointer;
        }

        &--icon {
            height: 1.5rem;
            width: 1.5rem;
            fill: #154782;
        }

        &--option {
            margin-top: .5rem;
            margin-right: .5rem;
            margin-bottom: 1rem;
            float: right;
        }

        &--select {
            width: 7rem;
            outline: none;

            &--2 {
                width: 12.8rem;
                outline: none;
            }
        }

    }

    &__add {
        
        display: flex;
        align-items: center;
        justify-content: center;
        background: $primary-color;
        width: 19rem;
        padding: .5rem 1.5rem;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.5rem;
        cursor: pointer;
        margin: auto;
    }

    &__icon {
        width: 1.6rem;
        height: 1.6rem;
        margin-right: .7rem;
        fill: #55c57a;

        &--red {
            width: 1.4rem;
            height: 1.4rem;
            margin-right: .7rem;
            fill: #FF4136;
        }
    }

    &__names {
        margin: 1rem 2rem;
        padding: 1rem 0rem;
    }

    &__name {
        display: flex;
        align-items: center;
        font-size: 1.4rem;

        input {
            margin-right: 1rem;
        }
    }

}

// Event schedule

.schedule {
    margin-top: 15rem;
    margin-left: 15rem;

    &__add {
        font-size: 1.6rem;
        padding: 1rem;
        border-radius: 5px;
        display: flex;
        align-items: center;
        background-color: $primary-color;
        width: 20rem;
        justify-content: center;
        color: #fff;
        cursor: pointer;
    }

    &__calendar {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 50rem;
        margin-top: 3rem;

        &--item {
            display: flex;
            align-items: center;
            font-size: 1.4rem;
            padding: .6rem;
            background-color: $primary-color;
            width: 15rem;
            justify-content: center;
            border-radius: 5px;
            color: #fff;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__modal {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.5);

        &--content {
            margin: 10% auto;
            width: 44rem;
            height: auto;
            background-color: #fff;
            border-radius: 2px;
        }

        &--header {
            display: flex;
            flex-direction: row;
            padding: 0rem 1.5rem;
        }

        &--body {
           width: 40rem;
           margin: auto;
           padding-bottom: .1rem;
        }

        &--save {
            margin-left: 35rem;
            margin-top: 1rem;
            background: #FFFD75;
            color: #333;
            border: 1px solid #333;
            border-radius: 10px;
            padding: .5rem 1rem;
            outline: none;
            cursor: pointer;
        }

    }

    &__group {
        display: flex;
        align-items: center;
       
        margin-bottom: 1rem;
    }

    &__icon {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 1rem;
        fill: $primary-color;
    }

    &__input {
        width: 34rem;
        padding: .7rem 1.2rem;
        border: none;
        background-color: #eee;
        border-radius: 5px;
        outline: none;
    }

    &__date {
        margin-right: 1.2rem;
        padding: .7rem 1.2rem;
        border: none;
        background-color: #eee;
        outline: none;
        border-radius: 5px;
    }

    &__btn {
        background-color: $primary-color;
        padding: .6rem 1rem;
        border: none;
        border-radius: 10px;
        margin-left: auto;
        color: #fff;
        outline: none;
        cursor: pointer;
    }

    &__delete {
        background-color: #FF4136;
        padding: .6rem 1rem;
        border: none;
        border-radius: 10px;
        margin-left: 1rem;
        margin-right: 3rem;
        color: #fff;
        outline: none;
        cursor: pointer;
    }

    &__close {
        margin-left: auto;
        font-size: 3rem;
        color: $primary-color;
        cursor: pointer;
    }
}

.calendar {
    margin: auto;
    width: 100rem;
    

    margin-top: 16rem;
    margin-left: 7rem;


    &__head {
        display: flex;
        align-items: center;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: #fff;
        width: 99.4%;
        
    }

    &__new {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        background-color: #154782;
        padding: .7rem 1rem;
        text-decoration: none;
        color: #fff;
        border-top-left-radius: 1rem;
        cursor: pointer;

        &--icon {
            height: 2rem;
            width: 2rem;
            margin-left: 1rem;
            fill: #fff;
        }
    }

    &__option {
        padding: .7rem 1rem;
        border: none;
        outline: none;
        cursor: pointer;
    }

    &__month {
        display: flex;
        align-items: center;
        padding: .8rem 1.5rem;
        background-color: #154782;
        color: #fff;
        margin-left: auto;
        border-top-right-radius: 1rem;
        

        &--icon {
            height: 2rem;
            width: 2rem;
            fill: #fff;
        }

        span {
            font-size: 1.5rem;
            margin: 0rem .6rem;
            margin-top: -.4rem;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
        }
    }

    &__schedule, th, td {
        border: .5px solid #867D7D;
        border-collapse: collapse;
        background-color: #fff;
    }

    &__schedule {
        width: 100%;
    }

    td {
        height: 4rem;
    }

    &__item {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 13rem;
        color: #fff;
        border-radius: 4px;
        
    
        height: 8rem;
        margin-top: 0rem;
        font-size: 1.2rem;
        
        opacity: .9;
        cursor: pointer;

        &:hover {
            opacity: 1;
            z-index: 2000;
        }

        &--right {
            margin-left: 6.5rem;
        }

        &--day {
            position: absolute;
            margin: 0rem 1rem;
            
            width: 88rem;
            background-color: $primary-color;
            padding: 2rem .5rem;
        
            height: 8rem;
            margin-top: 0rem;
            font-size: 1.2rem;
            opacity: .9;
            color: #fff;
        }
    }
}

.minus-margin-right {
    margin-right: -.6rem;
}

.same__time {
    width: 8rem;
}

#item-2 {
    margin-top: 2rem;
    background: #154782;
    height: 12rem;
}

#item-1 {
    margin-top: 3rem;
    background: #00CF15;
}

#item-3 {
    margin-top: 40rem;
    background: #00CF15;
    height: 16rem;
}

#item-4 {
    margin-top: 35rem;
    background: #00CF15;
    height: 25rem;
}

#item-5 {
    margin-top: 30rem;
    background: #154782;
    height: 12rem;
}

.timeline {
    position: absolute;
    z-index: 2;
    margin-left: -4rem;
    margin-top: 4.2rem;

    ul {
        list-style: none;
    }

    li {
        margin: 2rem 0rem;
        font-size: 1.2rem;
    }
}

.timeline--2 {
    position: absolute;
    margin-left: -4rem;
    margin-top: 1rem;

    ul {
        list-style: none;
    }

    li {
        margin: 2rem 0rem;
        font-size: 1.2rem;
    }
}

.sevendays {
    margin: 0;
    font-size: 1.5rem;
    display: flex;

    li {
        display: flex;
        flex-direction: column;

        list-style: none;
        width: 14.2%;
        color: #666;
        text-align: center;
    }

    &__day {
        background-color: #ddd;
        padding: 1rem 0rem;
        span {
            display: block;
        }
    }

    &__oneday {
       
        padding: 1rem 0rem;
        background-color: #ddd;
        font-size: 1.4rem;

      
    }

    &__head {
        display: flex;
        align-items: center;

        background-color: #fff;
        border-radius: 1rem;
        width: 88.3rem;
    }

    &__option {
        padding: .8rem;
        border: none;
        outline: none;
        cursor: pointer;
    }
    
}

.realtime {
    margin-top: 20rem;
    position: absolute;
    border: 1.5px solid orange;
    width: 100rem;
}

