.content {
    display: flex;

    
}


.dashboard {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 24rem;
    background-color: #154782;
    
    height: 100vh;

    &__profile {
        display: flex;
        align-items: center;
        padding: 1.5rem 0rem;
        border-bottom: 1px solid  #eee;
        justify-content: center;

        &--icon {
            height: 4rem;
            width: 4rem;
            fill: #fff;
        }
    }

    &__nav {

       
        width: 18rem;
        margin: 2rem auto;
        
        &--item {
            display: flex;
            align-items: center;
            margin: 1.5rem 0;
           
        }

        &--link {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 1.5rem;
            color: #fff;

           
        }

        &--icon {
            height: 2.5rem;
            width: 2.5rem;
            margin-right: 1rem;
            fill: #fff;
        }
    }

    &__copy {
        text-align: center;
        margin-top: auto;
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        color: #fff;
        font-weight: 400;
    }
}



.events {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-left: 20%;
    height: 200rem;

    
}

.create-event {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    padding: 1rem 1.5rem;
    border-radius: 10px;

    &__btn {
        text-decoration: none;
        font-size: 1.6rem;
        color: #fff;

        &--icon {
            height: 2rem;
            width: 2rem;
            margin-left: .7rem;
            fill: #fff;
            cursor: pointer;
        }
    }
}

.upcoming {
    margin-top: 5rem;
}

