.about {
    
    &__image {
        width: 52rem;
        box-shadow: 0 1.5rem 3rem rgba($color-black, .2);

        
        
        @include respond(phone) {
            width: 35rem;
        }
    }

    @include respond(tab-port) {
        text-align: center;
    }

}