.account {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #eee;
    height: 100vh;
    margin-left: 24rem;

    &__header {
        padding: 1.5rem 1rem;
        background-color: $primary-color;
        text-align: center;
    }

    &__body {
       
        width: 32rem;
        margin: 3rem auto;
    }
}